<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.qz.dao.idao.inherit.ICategoryMapper">
    <resultMap id="BaseResultMap" type="edu.scu.qz.dao.pojo.Category">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="level" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
            <arg column="sort_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, name, image, level, status, sort_order, create_time, update_time
  </sql>
    <select id="selectCategoryChildrenByParentId" resultMap="BaseResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_category
        WHERE parent_id = #{parentId}
    </select>
    <select id="selectByCategoryName" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_category
        WHERE name = #{categoryName}
    </select>
    <select id="countByLevel" resultType="java.lang.Integer">
        SELECT count(1) FROM apec_category WHERE level=#{level}
    </select>
</mapper>