<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.qz.dao.idao.inherit.IShippingMapper">
    <resultMap id="BaseResultMap" type="edu.scu.qz.dao.pojo.Shipping">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_province" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_city" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_district" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_address" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="receiver_zip" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, receiver_name, receiver_phone, receiver_province, receiver_city, receiver_district,
    receiver_address, receiver_zip, create_time, update_time
  </sql>
    <select id="selectByShippingIdUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_shipping
        WHERE id = #{shippingId} AND user_id = #{userId}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_shipping
        WHERE user_id = #{userId}
    </select>
    <delete id="deleteByShippingIdUserId" parameterType="map">
    delete from apec_shipping
    where id = #{shippingId,jdbcType=INTEGER} AND user_id = #{userId}
  </delete>
    <update id="updateByShipping">
    update apec_shipping
    set receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER} AND user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>