<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.qz.dao.idao.inherit.IShopOrderMapper">
    <resultMap id="BaseResultMap" type="edu.scu.qz.dao.pojo.ShopOrder">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="sub_order_no" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shipping_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shop_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="payment" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="payment_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="postage" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="payment_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="send_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="close_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, sub_order_no, order_no, user_id, shipping_id, shop_id, shop_name, payment, payment_type,
    postage, status, payment_time, send_time, end_time, close_time, create_time, update_time
  </sql>
    <insert id="batchInsertShopOrder" parameterType="list">
        insert into apec_shop_order (id, sub_order_no, order_no, user_id, shipping_id, shop_id, shop_name, payment,
        payment_type, postage, status, payment_time, send_time, end_time, close_time, create_time, update_time)
        values
        <foreach collection="shopOrderList" index="index" item="item" separator=",">
            (#{item.id}, #{item.subOrderNo}, #{item.orderNo}, #{item.userId}, #{item.shippingId}, #{item.shopId},
            #{item.shopName}, #{item.payment}, #{item.paymentType}, #{item.postage}, #{item.status},
            #{item.paymentTime}, #{item.sendTime}, #{item.endTime}, #{item.closeTime}, now(), now())
        </foreach>
    </insert>

    <select id="selectByUserIdOrderNo" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_shop_order WHERE order_no=#{orderNo} AND user_id=#{userId}
    </select>
    <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM apec_shop_order WHERE order_no=#{orderNo}
    </select>

</mapper>